<header class="site-header">
    <div class="container">
        <nav class="site-nav">
            <a class="site-title" href="{{@site.url}}">
                {{@site.title}} <span class="cursor-blink">_</span>
            </a>
            <div class="nav-links">
                {{navigation}}
                <button id="dark-mode-toggle" aria-label="Toggle Dark Mode">🌓</button>
            </div>
        </nav>
    </div>
</header>